td, th{
    border:2px solid #B97836;
    padding: 10px;

    text-align: center;
}
table{
    border-collapse: collapse;
    
}
button{
    border: none;
    border-radius: 50%;
    background-color: #B9BBB6;
    cursor: pointer;
    margin: 5px 20px;
    width: 30px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    
}